<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9" *ngIf="aircraft">
        <div class="notification is-primary has-text-centered">
            <h4 class="title is-size-5">{{status}}</h4>

        </div>
      <div class="columns is-mobile is-multiline">
        <div class="column is-3">
          <span class="header-icon user-profile-image">
            <img src="{{aircraft.img_url}}" alt="">
          </span>
        </div>
        <div class="column is-9">
          <aol-map [width]="'100%'" [height]="'100%'" *ngIf="aircraftLocation">
            <aol-view [zoom]="5">
              <aol-coordinate [x]="aircraftLon" [y]="aircraftLat" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-view>
            <aol-layer-tile>
              <aol-source-osm></aol-source-osm>
            </aol-layer-tile>
            <aol-layer-vector>
              <aol-source-vector>
                <aol-feature>
                  <aol-geometry-point>
                    <aol-coordinate [x]="aircraftLon" [y]="aircraftLat" [srid]="'EPSG:4326'"></aol-coordinate>
                  </aol-geometry-point>
                  <aol-style>
                    <aol-style-circle [radius]="10">
                      <aol-style-stroke [color]="'black'" [width]="2"></aol-style-stroke>
                      <aol-style-fill [color]="'red'"></aol-style-fill>
                    </aol-style-circle>
                  </aol-style>
                </aol-feature>
              </aol-source-vector>
            </aol-layer-vector>
          </aol-map>
        </div>
        <div class="column is-5">
          <span class="title is-bold">{{aircraft.registration}}</span>
          <a href="#" class="button is-primary is-outlined">Add New Flight</a>
        </div>
        <div class="column is-7">
          <div class="columns">
            <div class="column is-6">
              <h3 class="title is-size-6">Upcoming Movements</h3>
              <div *ngFor="let schedule of aircraftSchedule;  let i=index">
                <div class="box" *ngIf="i<4 && schedule.departuretime*1000 > currentTime">
                  <article class="media">
                    <div class="media-content">
                      <div class="content has-text-centered	">
                        <a routerLink="/admin/movement/{{schedule._id}}">
                          <h5 class="is-marginless">{{schedule.departure_airport}} -> {{schedule.arrival_airport}}</h5>
                        </a>
                        <time datetime="2016-1-1">{{schedule.departuretime*1000 | date : "short"}}</time>
                      </div>
                    </div>
                  </article>
                </div>
              </div>

            </div>
            <div class="column is-6">
              <h3 class="title is-size-6">Past Movements</h3>
              <div *ngFor="let schedule of aircraftSchedule;  let i=index">
                <div class="box" *ngIf="i<4 && schedule.departuretime*1000 < currentTime">
                  <article class="media">
                    <div class="media-content">
                      <div class="content has-text-centered	">
                        <a routerLink="/admin/movement/{{schedule._id}}">
                          <h5 class="is-marginless">{{schedule.departure_airport}} -> {{schedule.arrival_airport}}</h5>
                        </a>
                        <time datetime="2016-1-1">{{schedule.departuretime*1000 | date : "short"}}</time>
                      </div>
                    </div>
                  </article>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="activeDayIsOpen = false">
                Previous
              </a>
            </p>
            <p class="control">
              <a class="button is-primary is-outlined" mwlCalendarToday [(viewDate)]="viewDate">
                Today
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="activeDayIsOpen = false">
                Next
              </a>
            </p>
          </div>
        </div>
        <div class="column is-4">
          <h3 class="title has-text-centered">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="column is-4">
          <div class="field has-addons is-pulled-right">
            <p class="control">
              <a class="button is-primary" (click)="view = CalendarView.Month"
                [class.active]="view === CalendarView.Month">
                Month
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" (click)="view = CalendarView.Week"
                [class.active]="view === CalendarView.Week">
                Week
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
                Day
              </a>
            </p>
          </div>
        </div>
      </div>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>
<app-chat></app-chat>
