<app-header></app-header>
<div class="container-fluid page-body-wrapper">
  <app-side-nav></app-side-nav>
  <!-- Main Content -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page_header d-flex">
        <h4 *ngIf="aircraft"><strong>{{aircraft.registration}}</strong>&nbsp;<span>Cargo Aircraft</span></h4>
      </div>
      <div class="row">

        <div class="col-xl-7" *ngIf="aircraft">
          <div class="row">
            <div class="col-md-6">
              <div class="block seat_car_block">
                <div class="block_head">
                  <h3>Upcoming Movements</h3>
                </div>
                <ul class="movement_list">
                  <li *ngFor="let schedule of upMove; let i=index">
                    <div class="m_i_destinations">
                      <span>{{schedule.departure_airport}}</span><i
                        class="flaticon-right-arrow"></i><span>{{schedule.arrival_airport}}</span>
                    </div>
                    <div class="m_i_date">{{ schedule.departuretime*1000 | date : "short" }}</div>
                    <a href="#" class="btn btn-small-bordered">View</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="block document_block">
                <div class="block_head">
                  <h3>Previous Movements</h3>
                </div>
                <ul class="movement_list">
                  <li *ngFor="let schedule of pastMove; let i=index">
                    <div class="m_i_destinations">
                      <span>{{schedule.departure_airport}}</span><i
                        class="flaticon-right-arrow"></i><span>{{schedule.arrival_airport}}</span>
                    </div>
                    <div class="m_i_date">{{ schedule.departuretime*1000 | date : "short" }}</div>
                    <a href="#" class="btn btn-small-bordered">View</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div *ngIf="events.length != 0" class="block full_calender_wrap">
            <!-- <div id="calendar"></div> -->
            <full-calendar defaultView="dayGridMonth" [events]="events" [header]="calendarHeaders" navLinks="true"
              eventLimit="true" [plugins]="calendarPlugins"></full-calendar>
          </div>
        </div>
        <div class="col-xl-5 main_panel_right">

          <div class="row">
            <div class="col-xl-12 col-lg-6 col-md-6">
              <div class="block map_block">
                <div class="block_head">
                  <h3>Movement Services</h3>
                </div>
                <div class="map_div">
                  <img src="http://159.65.145.230/downwind.io/images/map.png" alt="map">
                  <aol-map [width]="'100%'" [height]="'100%'" *ngIf="aircraftLocation">
                      <aol-view [zoom]="5">
                        <aol-coordinate [x]="aircraftLon" [y]="aircraftLat" [srid]="'EPSG:4326'"></aol-coordinate>
                      </aol-view>
                      <aol-layer-tile>
                        <aol-source-osm></aol-source-osm>
                      </aol-layer-tile>
                      <aol-layer-vector>
                        <aol-source-vector>
                          <aol-feature>
                            <aol-geometry-point>
                              <aol-coordinate [x]="aircraftLon" [y]="aircraftLat" [srid]="'EPSG:4326'"></aol-coordinate>
                            </aol-geometry-point>
                            <aol-style>
                              <aol-style-circle [radius]="10">
                                <aol-style-stroke [color]="'black'" [width]="2"></aol-style-stroke>
                                <aol-style-fill [color]="'red'"></aol-style-fill>
                              </aol-style-circle>
                            </aol-style>
                          </aol-feature>
                        </aol-source-vector>
                      </aol-layer-vector>
                    </aol-map>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-6 col-md-6">
              <div class="block document_block">
                <div class="block_head">
                  <h3>Documents</h3>
                </div>
                <ul class="documents_list">
                  <li><a href="#">Contact Information <i class="flaticon-download"></i></a></li>
                  <li><a href="#">Contact Information <i class="flaticon-download"></i></a></li>
                  <li><a href="#">Contact Information <i class="flaticon-download"></i></a></li>
                  <li><a href="#">Contact Information <i class="flaticon-download"></i></a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>