
<div class="container-scroller">
  <!-- login wrapper -->
  <div class="login_wrapper">
    <div class="login_wrapper_inner">
      <div class="login_left">

        <div class="login_form_wrap">
          <div>
            <div class="login_logo_div">
              <a class="" href="index.html"><img src="../../../assets/images/logo.png" alt="logo" /></a>
            </div>
            <div class="login_form_inner">
              <div class="login_head">
                <h2 class="text-center">Sign in to Downwind.io</h2>
                <p class="mb-md-0 fw-500 text-center">Please enter your credentials to proceed.</p>
              </div>
              <form>
                <div class="form-group">
                  <label>EMAIL ADDRESS</label>
                <input class="form-control" placeholder="eg.abc@gmail.com" [(ngModel)]="email" name="email" type="email">
                </div>
                <div class="form-group">
                  <a class="forgot_pass_link" href="#">Forgot password?</a>
                  <label>PASSWORD</label>
                  <input class="form-control" placeholder="••••••••••" [(ngModel)]="password" name="password"
                    type="password">
                </div>
                <button type="button" class="btn bg_blue" (click)="login()">Sign in</button>
                <!-- <div class="login_bottom_content text-center">Dont’ have an account? <a href="#" class="c_blue">Sign
                    Up</a></div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- login banner -->
      <div class="login_right">
        <div class="login_right_banner">
          <img src="../../../assets/images/login-bg.jpg" alt="login">
        </div>
      </div><!-- /. login banner -->
    </div>
  </div><!-- /. login wrapper -->

</div>