<app-header></app-header>
<div class="container-fluid page-body-wrapper">
  <app-side-nav></app-side-nav>
  <!-- Main Content -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page_header p_header_two d-flex">
        <h4><strong>Airports Overview</strong></h4>
        <div class="ml-auto">
          <a href="#" class="btn bg_blue">Add Airport</a>
        </div>
      </div>
      <div class="block table_block">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="c_l_name">Name</th>
                <th class="c_l_movement">ICAO</th>
                <th class="c_l_action">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let airport of airports">
                <td class="c_l_name">
                  <!-- <a routerLink="/admin/airport/{{airport.icao}}"> -->
                    {{airport.name}}
                  <!-- </a> -->
                </td>
                <td class="c_l_movement">{{airport.icao}}</td>
                <td class="c_l_action">
                  <div class="action_btns">
                    <a class="edit_btn" routerLink="/admin/edit-airport/{{airport.icao}}"><i
                        class="fa fa-edit"></i><span>Edit</span></a>
                    <a href="#" class="delete_btn" (click)="delete(airport._id)"><i
                        class="fa fa-trash"></i><span>Delete</span></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <a (click)="prev()" class="is-link" *ngIf="pageNo > 1">&lt;&lt;&lt; Previous</a> -
      <a (click)="next()" class="is-link">Next &gt;&gt;&gt;</a>
    </div>
  </div>
</div>