<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <h3 class="title">Message Board</h3>
      <div>
        Hello, this is a message posted in the message board.
      </div>
      <hr>
      <div>
        Hello, this is a message posted in the message board.
      </div>
      <hr>
      <div>
        Hello, this is a message posted in the message board.
      </div>
      <hr>
      <div class="field">
        <div class="control">
          <textarea name="message" id="message" class="textarea"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-success">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-chat></app-chat>