<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <h3 class="title">Add Flight</h3>
      <form action="#" *ngIf="sale">
        <section class="">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label class="label">Reference ID</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="reference_id" name="reference_id">
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">OPS Employee</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="ops_crew" name="ops_crew">
                      <option>OPS Employees</option>
                      <option *ngFor="let ops_crew of ops_crews" [ngValue]="ops_crew">{{ops_crew.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Aircraft</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="aircraft" name="aircraft">
                      <option>Suggested Aircraft</option>
                      <option *ngFor="let aircraft of aircrafts" [ngValue]="aircraft">{{aircraft.registration}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label class="label">Departure Time</label>
                <div class="control">
                  <ng2-flatpickr [config]="exampleOptions" [(ngModel)]="departure_time" name="departure_time">
                  </ng2-flatpickr>
                  <!-- <input type="text" [(ngModel)]="departure_time" name="departure_time"> -->
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Departure Airport</label>
                <div class="control">
                  <div class="dropdown" id="dptAir">
                    <div class="dropdown-trigger">
                      <input class="input" name="departure_airport" autocomplete="off"
                        [(ngModel)]="departure_airport.name" (input)="getAirports($event.target.value, 'dptAir')"
                        type="text" placeholder="Enter Departure Airport" aria-haspopup="true">
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a (click)="departure_airport = airport;hideSearch()" class="dropdown-item"
                          *ngFor="let airport of airports">
                          {{airport.name}} ({{airport.icao}})
                        </a>
                        <span *ngIf="!airports">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Arrival Airport</label>
                <div class="control">
                  <div class="dropdown" id="arrAir">
                    <div class="dropdown-trigger">
                      <input class="input" name="arrival_airport" autocomplete="off" [(ngModel)]="arrival_airport.name"
                        (input)="getAirports($event.target.value, 'arrAir')" type="text"
                        placeholder="Enter Arrival Airport" aria-haspopup="true">
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a (click)="arrival_airport = airport;getHandler(airport);hideSearch();" class="dropdown-item"
                          *ngFor="let airport of airports">
                          {{airport.name}} ({{airport.icao}})
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
              <div class="field">
                <label class="label">Handler</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="handler" name="handler">
                      <option>Handler Values</option>
                      <option *ngFor="let handler of handlers" [ngValue]="handler">{{handler.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Dangerous Good?</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="dangerous" value="yes" name="dangerous">
                    Yes
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="dangerous" value="no" name="dangerous">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
              <div class="field">
                <label class="label">Pax/Cargo</label>
                <div class="control">
                  <div class="select">
                    <select #paxCargo1 [(ngModel)]="type" name="type" (change)="paxCargo(paxCargo1.value)">
                      <option value="pax">Pax.</option>
                      <option value="cargo">Cargo</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="pax">
                <label class="label">Number of Passengers</label>
                <div class="control">
                  <input type="text" [(ngModel)]="pax" name="pax" class="input">
                </div>
              </div>
              <div class="field" id="cargo" style="display: none;">
                <label class="label">Weight of Cargo</label>
                <div class="control">
                  <input type="text" [(ngModel)]="cargo" name="cargo" class="input">
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" (click)="doRoute()" id="addBtn">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-text" type="reset" id="reset">Reset</button>
                  <button class="button is-text is-hidden" type="button" id="cancel" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>

        </section>


      </form>
      <pre>{{result}}</pre>
    </div>
  </div>
  <div class="modal" id="position-from">
    <div class="modal-background"></div>
    <div class="modal-card">
      <form>
        <header class="modal-card-head">
          <p class="modal-card-title">Position From</p>
        </header>
        <section class="modal-card-body">
          <h4 *ngIf="lastFlight">Flight {{lastFlight.reference_id}} arrives at
            {{lastFlight.arrivaltime*1000 | date :  "short"}} at
            {{lastFlight.arrival_airport}}. Where would you like to plan the positioning flight from?</h4>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="question" checked (change)="handleLFChange('arrival')">
                Arrival Location
              </label>
              <label class="radio">
                <input type="radio" name="question" (change)="handleLFChange('choose')">
                Choose
              </label>
            </div>
          </div>
          <div class="columns" id="choose" *ngIf="currentLoc">
            <div class="column is-5">
              <div class="field">
                <label class="label">Position From</label>
                <div class="control">
                  <div class="dropdown" id="dptFromAir">
                    <div class="dropdown-trigger">
                      <input class="input" name="currentLoc" id="currentLoc" autocomplete="off"
                        [(ngModel)]="currentLoc.name" (input)="getAirports($event.target.value, 'dptFromAir')"
                        type="text" placeholder="Enter Departure Airport" aria-haspopup="true">
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a (click)="currentLoc = airport;getHandler(airport);hideSearch()" class="dropdown-item"
                          *ngFor="let airport of airports">
                          {{airport.name}} ({{airport.icao}})
                        </a>
                        <span *ngIf="!airports">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-5">
              <div class="field">
                <label class="label">Handler</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="fromHandler" name="fromHandler" id="fromHandler">
                      <option>Handler Values</option>
                      <option *ngFor="let handler of handlers" [ngValue]="handler">{{handler.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-2">
              <div class="field">
                <label class="label">Layover Time</label>
                <div class="control">
                  <input class="input" type="text" name="fromLayOver" [(ngModel)]="fromLayOver">
                </div>
              </div>
            </div>
          </div>



        </section>

        <footer class="modal-card-foot">
          <button class="button is-success" id="positionBtn" (click)="doPositionFrom()">Position</button>
          <button class="button is-text" type="reset" id="resetFrom">Reset</button>
          <button class="button is-text is-hidden" type="button" id="cancelFrom" (click)="cancelFrom()">Cancel</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="position-to">
    <div class="modal-background"></div>
    <div class="modal-card">
      <form>
        <header class="modal-card-head">
          <p class="modal-card-title">Position To</p>
        </header>
        <section class="modal-card-body">
          <h4 *ngIf="nextFlight">Next flight will be on {{nextFlight.departuretime*1000 | date :  "short"}} for aircraft {{nextFlight.reference_id}}, where would you
                  like to position the aircraft to?</h4>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="question" checked (change)="handleNFChange('arrival')">
                Arrival Location
              </label>
              <label class="radio">
                <input type="radio" name="question" (change)="handleNFChange('choose')">
                Choose
              </label>
            </div>
          </div>
          <div class="columns" id="chooseTo" *ngIf="baseLoc">
            <div class="column is-5">
              <div class="field">
                <label class="label">Base Location</label>
                <div class="control">
                  <div class="dropdown" id="dptToAir">
                    <div class="dropdown-trigger">
                      <input class="input" name="baseLoc" id="baseLoc" autocomplete="off" [(ngModel)]="baseLoc.name"
                        (input)="getAirports($event.target.value, 'dptToAir')" type="text"
                        placeholder="Enter Departure Airport" aria-haspopup="true">
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a (click)="baseLoc = airport;getHandler(airport);hideSearch()" class="dropdown-item"
                          *ngFor="let airport of airports">
                          {{airport.name}} ({{airport.icao}})
                        </a>
                        <span *ngIf="!airports">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-5">
              <div class="field">
                <label class="label">Handler</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="toHandler" id="toHandler" name="toHandler">
                      <option>Handler Values</option>
                      <option *ngFor="let handler of handlers" [ngValue]="handler">{{handler.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-2">
              <div class="field">
                <label class="label">Layover Time</label>
                <div class="control">
                  <input class="input" type="text" name="toLayOver" [(ngModel)]="toLayOver">
                </div>
              </div>
            </div>
          </div>



        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" id="positionToBtn" (click)="doPositionTo()">Position</button>
          <button class="button is-text" type="reset" id="resetTo">Reset</button>
          <button class="button is-text is-hidden" type="button" id="cancelTo" (click)="cancelTo()">Cancel</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="suggested">
    <div class="modal-background"></div>
    <div class="modal-card">
      <form>
        <header class="modal-card-head">
          <p class="modal-card-title">Suggested Actions</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

          <button class="button is-success is-block" (click)="createMail()">Send Crew Notification</button>
          <button class="button is-success is-block" (click)="createHandlerMail()">Send Handling Request</button>



        </section>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"
  src="/node_modules/bulma-extensions/bulma-accordion/dist/bulma-accordion.min.js"></script>
<script type="text/javascript">
  var accordions = bulmaAccordion.attach();
</script>
<app-chat></app-chat>