<app-header></app-header>
<div class="container-fluid page-body-wrapper">
  <app-side-nav></app-side-nav>
  <!-- Main Content -->
  <div class="main-panel">
    <div class="content-wrapper">

      <div class="page_header p_header_two d-flex">
        <h4><strong>Settings</strong></h4>
        <div class="ml-auto">
          <a routerLink="/admin/new-handler" class="btn bg_blue">Add User</a>
        </div>
      </div>

      <div class="block table_block">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="u_l_ID">ID</th>
                <th class="u_l_name">FULL Name</th>
                <th class="u_l_email">Email Address</th>
                <th class="u_l_date">Date Created</th>
                <th class="u_l_actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="u_l_ID">{{user._id}}</td>
                <td class="u_l_name">{{user.fullname}}</td>
                <td class="u_l_email">{{user.email}}</td>
                <td class="u_l_date">{{user.createdAt}}</td>
                <td class="u_l_actions">
                  <div class="action_btns">
                    <a (click)="getUser(user._id)" class="edit_btn"><i class="fa fa-edit"></i><span>Edit</span></a>
                    <a (click)="delete(user._id)" class="delete_btn"><i class="fa fa-trash"></i><span>Delete</span></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="block mail_templates_block">
        <div class="row">

          <div class="col-md-6" *ngIf="crewTemplate">
            <div class="mail_template_div">
              <h3>Crew Mail Template</h3>
              <form>
                <div class="form-group">
                  <label>Subject</label>
                  <input type="input" placeholder="Type Subject Here..." name="crew_subject"
                    [(ngModel)]="crewTemplate.subject" class="form-control">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea placeholder="Type Message Here..." name="crew_message" [(ngModel)]="crewTemplate.message"
                    class="form-control" (change)="handleCrewChange($event.target.value)"
                    [(ngModel)]="crewTemplate.message"></textarea>
                </div>
                <button class="btn bg_blue" (click)="saveCrew()">Save</button>
              </form>
            </div>
          </div>

          <div class="col-md-6" *ngIf="handlerTemplate">
            <div class="mail_template_div">
              <h3>Handler Mail Template</h3>
              <form>
                <div class="form-group">
                  <label>Subject</label>
                  <input type="input" placeholder="Type Subject Here..." name="subject"
                    [(ngModel)]="handlerTemplate.subject" class="form-control">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea placeholder="Type Message Here..." name="message" class="form-control"
                    [(ngModel)]="handlerTemplate.message"></textarea>
                </div>
                <button class="btn bg_blue" (click)="saveHandler()">Save</button>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="modal" id="add-user">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title" *ngIf="!update">Add User</p>
            <p class="modal-card-title" *ngIf="update">Update User</p>
            <button class="delete" aria-label="close" (click)="close()"></button>
          </header>
          <section class="modal-card-body" [formGroup]="userForm">
            <div class="field">
              <label class="label">Fullname</label>
              <div class="control">
                <input class="input" placeholder="Fullname" formControlName="fullname" name="fullname" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" placeholder="Email" formControlName="email" name="email" required>

              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" placeholder="Password" formControlName="password" type="password" name="password"
                  required>
              </div>
            </div>
            <div class="field">
              <label class="label">Repeat Password</label>
              <div class="control">
                <input class="input" placeholder="Reapet Password" formControlName="repeatPassword" type="password"
                  name="repeatPassword" required>

              </div>
            </div>


          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" (click)="register()" *ngIf="!update">Add</button>
            <button class="button is-success" (click)="updateUser()" *ngIf="update">Update</button>
            <button class="button" (click)="close()">Cancel</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
<app-chat></app-chat>