<div class="notice_board operations_notice_board">
  <div class="n_b_head">
    <strong>Operations Notice Board</strong>
    <!-- <span class="notice_count">5</span> -->
    <a (click)="hideOpsChat()" class="n_b_closer">
      <i class="flaticon-close"></i>
      <i class="flaticon-arrow-down-sign-to-navigate"></i>
    </a>
  </div>
  <div class="n_b_main">
    <div *ngFor="let c of opsChats">
      <div class="m_div m_sender" *ngIf="c.email!==user.email; else rightchat">
        <div class="m_user_info d-flex">
          <span>{{c.name}}</span>
        </div>
        <div class="m_body">{{c.message}}</div>
        <div class="m_time">{{ c.updated_at | date: 'medium' }}</div>
      </div>
      <ng-template #rightchat>
        <div class="m_div m_receiver">
          <div class="m_body">{{ c.message }}</div>
          <div class="m_time">{{ c.updated_at | date: 'medium' }}</div>
        </div>
      </ng-template>
      <ng-template #movementCard>
        <div class="m_body">
          <b>EDDS</b> handling quote recieved.
          <div class="m_o_destinations">EDDS <i class="flaticon-right-arrow"></i> EDLV</div>
          <div class="text-center my-2">11/06/2019, 13:20:00</div>
          Pickup at 12:30 from EDDS and drop at EDLV as soon as possible. Contains Explosives.Beware fire.<br>
          <div class="text-center my-2">View Items <b>| $2495</b></div>
          <div class="m_actions">
            <a href="#" class="o_accept">Accept</a>
            <a href="#" class="o_reject">Reject</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="n_b_message_box">
    <input type="text" placeholder="Add message here" class="message_input" [(ngModel)]="opsMsg">
    <button type="button" (click)="sendOpsMessage()" class="send_msg"><i class="flaticon-sent-mail"></i></button>
  </div>
</div>
<div class="notice_board crew_notice_board">
  <div class="n_b_head">
    <strong>Crew Notice Board</strong>
    <!-- <span class="notice_count">7</span> -->
    <a (click)="hideCrewChat()" class="n_b_closer">
      <i class="flaticon-close"></i>
      <i class="flaticon-arrow-down-sign-to-navigate"></i>
    </a>
  </div>
  <div class="n_b_main">
    <div *ngFor="let c of crewChats">
      <div class="m_div m_sender" *ngIf="c.email!==user.email; else rightchat">
        <div class="m_user_info d-flex">
          <img src="../../../assets/images/user.png" alt="user">
          <span>{{c.name}}</span>
        </div>
        <div class="m_body">{{c.message}}</div>
        <div class="m_time">{{ c.updated_at | date: 'medium' }}</div>
      </div>

      <ng-template #rightchat>
        <div class="m_div m_receiver">
          <div class="m_body">{{ c.message }}</div>
          <div class="m_time">{{ c.updated_at | date: 'medium' }}</div>
        </div>
      </ng-template>
      <ng-template #movementCard>
        <div class="m_body">
          <b>EDDS</b> handling quote recieved.
          <div class="m_o_destinations">EDDS <i class="flaticon-right-arrow"></i> EDLV</div>
          <div class="text-center my-2">11/06/2019, 13:20:00</div>
          Pickup at 12:30 from EDDS and drop at EDLV as soon as possible. Contains Explosives.Beware fire.<br>
          <div class="text-center my-2">View Items <b>| $2495</b></div>
          <div class="m_actions">
            <a href="#" class="o_accept">Accept</a>
            <a href="#" class="o_reject">Reject</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="n_b_message_box">
    <input type="text" placeholder="Add message here" class="message_input" [(ngModel)]="crewMsg">
    <button type="button" (click)="sendCrewMessage()" class="send_msg"><i class="flaticon-sent-mail"></i></button>
  </div>
</div>