<aside class="menu is-hidden-mobile">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/admin/aircrafts" routerLinkActive="active">Aircrafts</a></li>
    <li><a routerLink="/admin/crews" routerLinkActive="active">Crews</a></li>
    <li><a routerLink="/admin/movements" routerLinkActive="active">Movements</a></li>
  </ul>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered	">
          <h5 class="is-marginless">Zulu Time</h5>
          <time datetime="2016-1-1">25-03-2015, 07:15z</time>
        </div>
      </div>
    </article>
  </div>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered	">
          <h5 class="is-marginless">Local Time</h5>
          <time datetime="2016-1-1">25-03-2015, 07:15z</time>
        </div>
      </div>
    </article>
  </div>
</aside>