<app-header></app-header>
<div class="container-fluid page-body-wrapper">
  <app-side-nav></app-side-nav>
  <!-- Main Content -->
  <div class="main-panel">
    <div class="content-wrapper">

      <div class="page_header p_header_two d-flex">
        <h4><strong>Airport Handlers</strong></h4>
        <div class="ml-auto">
          <a routerLink="/admin/new-handler" class="btn bg_blue">Add Handler</a>
        </div>
      </div>

      <div class="block table_block">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="h_l_name tu">Name</th>
                <th class="h_l_icao">ICAO</th>
                <th class="h_l_phone">Local Phone</th>
                <th class="h_l_email">Local Email</th>
                <th class="h_l_type">Type</th>
                <th class="h_l_item">Items</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let handler of handlers">
                <td class="h_l_name tu">{{handler.name}}</td>
                <td class="h_l_icao">{{handler.icao}}</td>
                <td class="h_l_phone">{{handler.local_telephone}}</td>
                <td class="h_l_email">{{handler.local_email}}</td>
                <td class="h_l_type">{{handler.type}}</td>
                <td class="h_l_item">{{handler.items}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-chat></app-chat>
