<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <h3 class="title is-pulled-left">Handler Overview</h3>
      <button class="button is-primary is-outlined is-pulled-right" routerLink="/admin/new-handler">Add Handler</button>
      <table class="table is-fullwidth">
        <thead>
          <th></th>
          <th>Name</th>
          <th>IATA Code</th>
          <th>Primary Phone</th>
          <th>Primary Email</th>
        </thead>
        <tbody>
          <tr *ngFor="let handler of handlers">
            <td>
              <a routerLink="/admin/aircraft">
                <img src="{{handler.logo}}" class="aircraft-img" alt="">
              </a>
            </td>
            <td>
              <a routerLink="/admin/aircraft">
                {{handler.name}}
              </a>
            </td>
            <td>{{handler.iata_code}}</td>
            <td>{{handler.phone_primary}}</td>
            <td>{{handler.email_primary}}</td>
          </tr>
        </tbody>
      </table>
      <app-chat></app-chat>

    </div>
  </div>
</div>