<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <h3 class="title is-pulled-left">Airport Handlers</h3>
      <button class="button is-primary is-outlined is-pulled-right" routerLink="/admin/new-handler/{{id}}">Add Handler</button>
      <table class="table is-fullwidth">
        <thead>
          <th></th>
          <th>Name</th>
          <th>ICAO</th>
          <th>Local Phone</th>
          <th>Local Email</th>
        </thead>
        <tbody>
          <tr *ngFor="let handler of handlers">
            <td>
                <img src="{{handler.logo}}" class="aircraft-img" alt="">
            </td>
            <td>
                {{handler.name}}
            </td>
            <td>{{handler.icao}}</td>
            <td>{{handler.local_telephone}}</td>
            <td>{{handler.local_email}}</td>
          </tr>
        </tbody>
      </table>
      <app-chat></app-chat>

    </div>
  </div>
</div>