<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <h3 class="title">Add Aircraft</h3>
      <ul class="steps">
        <li class="steps-segment is-active" data-step="1">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="2">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="3">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="4">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="5">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="6">
          <span class="steps-marker"></span>
        </li>
      </ul>
      <form action="#">
        <section class="" id="step-1">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label class="label">Registration Mark</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="callsign" name="callsign">
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Aircraft Manufacturer</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="manufacturer" name="manufacturer" (change)="getAircraftTypes()">
                      <option *ngFor="let manufacturer of manufacturers" [ngValue]="manufacturer">{{manufacturer.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Aircraft Type</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="icaotype" name="icaotype">
                      <option>Aircraft Type</option>
                      <option *ngFor="let aircraftType of aircraftTypes" [ngValue]="aircraftType">{{aircraftType.type}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label class="label">Aircraft Model</label>
                <div class="control">
                  <input type="text" [(ngModel)]="modelname" class="input" name="modelname">
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Year of Construction</label>
                <div class="control">
                  <input type="text" [(ngModel)]="year" class="input" name="year">

                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Homebase</label>
                <div class="control">
                  <div class="dropdown" id="base">
                    <div class="dropdown-trigger">
                      <input class="input" name="homebase" autocomplete="off" [(ngModel)]="homebase.name"
                        (input)="getAirports($event.target.value, 'base')" type="text"
                        placeholder="Enter Homebase" aria-haspopup="true">
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a (click)="homebase = airport;hideSearch()" class="dropdown-item" *ngFor="let airport of airports">
                          {{airport.name}} ({{airport.icao}})
                        </a>
                        <span *ngIf="!airports">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Fuel Type</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fueltype" value="AVGAS 100LL" name="fueltype">
                    AVGAS 100LL
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fueltype" value="Jet A-1" name="fueltype">
                    Jet A-1
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Aircraft Mass Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="wb.massunitname" value="kg" name="massunitname">
                    kg
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="wb.massunitname" value="lb" name="massunitname">
                    lb
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Aircraft Mass ARM Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="wb.armunitname" value="in" name="armunitname">
                    in
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="wb.armunitname" value="cm" name="armunitname">
                    cm
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Speed Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="speedunit" value="kts" name="speedunit">
                    kts
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="speedunit" value="kph" name="speedunit">
                    kph
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="speedunit" value="mph" name="speedunit">
                    mph
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="fuel_unit">
                <label class="label">Fuel Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuelunit" value="l" name="fuelunit">
                    liter
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuelunit" value="usgal" name="fuelunit">
                    US gal
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuelunit" value="lb" name="fuelunit">
                    lb
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuelunit" value="kg" name="fuelunit">
                    kg
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <div class="field" id="cargo">
              <label class="label">Comment</label>
              <div class="control">
                <textarea name="comment" id="comment" [(ngModel)]="comment" class="textarea"></textarea>
              </div>
            </div>
          </div>
        </section>
        <section class="is-hidden" id="step-2">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Equipment String</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="equipment" name="equipment">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Transponder</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="transponder" name="transponder">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Additional Communication Equipment (COM)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="com" name="com">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Additional Navigation Equipment (NAV)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="nav" name="nav">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Additional Data Equipment (DAT)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="dat" name="dat">
                </div>
              </div>
            </div>
          </div>

        </section>
        <section class="is-hidden" id="step-3">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Pilot in Command (PIC)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="picname" name="picname">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Crew Contact Number</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="crewcontact" name="crewcontact">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Color Markings</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="colormarking" name="colormarking">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Dinghies</label>
                <div class="control">
                  <input type="text" [(ngModel)]="dinghies" class="input" name="dinghies">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Dinghy Capacity</label>
                <div class="control">
                  <input type="text" [(ngModel)]="dinghycapacity" class="input" name="dinghycapacity">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Dinghy Color</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" [(ngModel)]="dinghycolor" value="yellow" name="dinghycolor">
                    Yellow
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="dinghycolor" value="orange" name="dinghycolor">
                    Orange
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="dinghycolor" value="red" name="dinghycolor">
                    Red
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="dinghycover" value="true" name="dinghycover">
                    With Cover
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Emergency Radios</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="uhf" value="yes" name="uhf">
                    UHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="vhf" value="yes" name="vhf">
                    VHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="elt" value="yes" name="elt">
                    ELT
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Survival</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="standard" value="yes" name="standard">
                    Standard
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="polar" value="yes" name="polar">
                    Polar
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="desert" value="yes" name="desert">
                    Desert
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="maritime" value="yes" name="maritime">
                    Maritime
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="jungle" value="yes" name="jungle">
                    Jungle
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="life_jackets">
                <label class="label">Life Jackets</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="standard" value="yes" name="standard">
                    Standard
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="light" value="yes" name="light">
                    Light
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="fluorescent" value="yes" name="fluorescent">
                    Fluorescent
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="life_uhf" value="yes" name="life_uhf">
                    UHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="life_vhf" value="yes" name="life_vhf">
                    VHF
                  </label>
                </div>
              </div>
            </div>
          </div>

        </section>
        <section class="is-hidden" id="step-4">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Takeoff Mass (kg)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="wb.mtom" name="mtom">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Landing Mass (kg)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="wb.mlm" name="mlm">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Ramp Mass (kg)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="wb.mrm" name="mrm">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Zero Fuel Mass (kg)</label>
                <div class="control">
                  <input type="text" [(ngModel)]="max_zerofuel" class="input" name="max_zerofuel">
                </div>
              </div>
            </div>
          </div>

        </section>

        <section class="is-hidden" id="step-5">

          <div class="columns is-multiline">

            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Distance Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="distances.unitname" value="liter" name="unitname">
                    feet
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="distances.unitname" value="US gal" name="unitname">
                    meter
                  </label>
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Rotation Speed Vr (kts)</label>
                <div class="control">
                  <input type="text" [(ngModel)]="distances.vrotate" class="input" name="vrotate">

                </div>
              </div>
            </div>
            <div class="column is-12">
              <a class="button is-success" (click)="addTakeOff()">
                Add TakeOff Entry
              </a>
              <table class="table is-bordered is-fullwidth is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>Density Altitude</th>
                    <th>Ground Roll M</th>
                    <th>50ft Obstacle M</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let takeOff of distances.takeoff; let id = index">
                    <td>
                      <span (keyup)="changeTakeOffValue(id, 'da', $event)"
                        (blur)="updateTakeOffList(id, 'da', $event)"
                        contenteditable="true">{{takeOff.da}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeTakeOffValue(id, 'gnddist', $event)"
                        (blur)="updateTakeOffList(id, 'gnddist', $event)">{{takeOff.gnddist}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeTakeOffValue(id, 'obstdist', $event)"
                        (blur)="updateTakeOffList(id, 'obstdist', $event)">{{takeOff.obstdist}}</span>
                    </td>
                    <td>
                      <button type="button" class="button is-danger" (click)="removeTakeOff(id)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column is-12">
              <a class="button is-success" (click)="addLanding()">
                Add Landing Entry
              </a>
              <table class="table is-bordered is-fullwidth is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>Density Altitude</th>
                    <th>Ground Roll M</th>
                    <th>50ft Obstacle M</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let landing of distances.landing; let id = index">
                    <td>
                      <span (keyup)="changeLandingValue(id, 'da', $event)"
                        (blur)="updateLandingList(id, 'da', $event)"
                        contenteditable="true">{{landing.da}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeLandingValue(id, 'gnddist', $event)"
                        (blur)="updateLandingList(id, 'gnddist', $event)">{{landing.gnddist}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeLandingValue(id, 'obstdist', $event)"
                        (blur)="updateLandingList(id, 'obstdist', $event)">{{landing.obstdist}}</span>
                    </td>
                    <td>
                      <button type="button" class="button is-danger" (click)="removeLanding(id)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column is-12">
              <div class="field">
                <label class="label">Runway Visual Range (RVR, meters)</label>
                <div class="control">
                  <input type="text" [(ngModel)]="rvr" class="input" name="rvr">

                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="is-hidden" id="step-6">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Default Maximum Flight Level</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="defaultmaxfl" name="defaultmaxfl">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Horse Power Per Engine (BHP)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="maxbhp" name="maxbhp">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Fixed Taxi Fuel</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="taxifuel" name="taxifuel">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Variable Taxi Fuel</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="taxifuelflow" name="taxifuelflow">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Contingency Fuel</label>
                <div class="control">
                  <input type="text" [(ngModel)]="contingencyfuel" class="input" name="contingencyfuel">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Performance Model</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performancemodel" value="yellow" name="performancemodel">
                    Fixed Pitch
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performancemodel" value="orange" name="performancemodel">
                    Constant Speed
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performancemodel" value="red" name="performancemodel">
                    Turboprop
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performancemodel" value="red" name="performancemodel">
                    Turbojet
                  </label>
                </div>
              </div>
            </div>
          </div>

        </section>

        <div class="columns">
          <div class="column is-6">
            <div class="field is-grouped">
              <div class="control" *ngIf="!first">
                <button class="button is-link" (click)="prev()">Previous</button>
              </div>
              <div class="control">
                <button class="button is-link" (click)="next()" *ngIf="!last">Next</button>
                <button class="button is-link" (click)="addAircraft()" id="addBtn" *ngIf="last">Submit</button>
              </div>
              <div class="control">
                <button class="button is-text" type="reset" id="reset">Reset</button>
                <button class="button is-text is-hidden" type="button" id="cancel" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>



  </div>
</div>
<app-chat></app-chat>