<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <h3 class="title">Add Aircraft</h3>
      <ul class="steps">
        <li class="steps-segment is-active" data-step="1">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="2">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="3">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="4">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="5">
          <span class="steps-marker"></span>
        </li>
        <li class="steps-segment" data-step="6">
          <span class="steps-marker"></span>
        </li>
      </ul>
      <form action="#">
        <section class="" id="step-1">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label class="label">Registration Mark</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="registration" name="registration">
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Aircraft Manufacturer</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="manufacturer" name="manufacturer">
                      <option>OPS Employees</option>
                      <option *ngFor="let ops_crew of ops_crews" [ngValue]="ops_crew">{{ops_crew.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Aircraft Type</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="type" name="type">
                      <option>Suggested Aircraft</option>
                      <option *ngFor="let aircraft of aircrafts" [ngValue]="aircraft">{{aircraft.registration}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label class="label">Aircraft Model</label>
                <div class="control">
                  <input type="text" [(ngModel)]="model" class="input" name="model">
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Year of Construction</label>
                <div class="control">
                  <input type="text" [(ngModel)]="year" class="input" name="year">

                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">Homebase</label>
                <div class="control">
                  <div class="dropdown" id="base">
                    <div class="dropdown-trigger">
                      <input class="input" name="base" autocomplete="off" [(ngModel)]="base.name"
                        (input)="getAirports($event.target.value, 'base')" type="text"
                        placeholder="Enter Departure Airport" aria-haspopup="true">
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a (click)="base = airport;hideSearch()" class="dropdown-item" *ngFor="let airport of airports">
                          {{airport.name}} ({{airport.icao}})
                        </a>
                        <span *ngIf="!airports">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Fuel Type</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuel_type" value="AVGAS 100LL" name="fuel_type">
                    AVGAS 100LL
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuel_type" value="Jet A-1" name="fuel_type">
                    Jet A-1
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Aircraft Mass Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="mass_unit" value="kg" name="mass_unit">
                    kg
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="mass_unit" value="lb" name="mass_unit">
                    lb
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Speed Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="speed_unit" value="kts" name="speed_unit">
                    kts
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="speed_unit" value="kph" name="speed_unit">
                    kph
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="speed_unit" value="mph" name="speed_unit">
                    mph
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="fuel_unit">
                <label class="label">Fuel Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuel_unit" value="liter" name="fuel_unit">
                    liter
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuel_unit" value="US gal" name="fuel_unit">
                    US gal
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuel_unit" value="lb" name="fuel_unit">
                    lb
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="fuel_unit" value="kg" name="fuel_unit">
                    kg
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <div class="field" id="cargo">
              <label class="label">Comment</label>
              <div class="control">
                <textarea name="comment" id="comment" [(ngModel)]="comment" class="textarea"></textarea>
              </div>
            </div>
          </div>
        </section>
        <section class="is-hidden" id="step-2">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Equipment String</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="equipment_string" name="equipment_string">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Transponder</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="transponder" name="transponder">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Additional Communication Equipment (COM)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="add_comm_equipment" name="add_comm_equipment">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Additional Navigation Equipment (NAV)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="add_nav_equipment" name="add_nav_equipment">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Additional Data Equipment (DAT)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="add_data_equipment" name="add_data_equipment">
                </div>
              </div>
            </div>
          </div>

        </section>
        <section class="is-hidden" id="step-3">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Pilot in Command (PIC)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="pic_name" name="pic_name">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Crew Contact Number</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="pic_phone" name="pic_phone">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Color Markings</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="color_markings" name="color_markings">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Dinghies</label>
                <div class="control">
                  <input type="text" [(ngModel)]="dinghies" class="input" name="dinghies">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Dinghy Capacity</label>
                <div class="control">
                  <input type="text" [(ngModel)]="dinghy_capacity" class="input" name="dinghy_capacity">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Dinghy Color</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" [(ngModel)]="dinghy_color" value="yellow" name="dinghy_color">
                    Yellow
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="dinghy_color" value="orange" name="dinghy_color">
                    Orange
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="dinghy_color" value="red" name="dinghy_color">
                    Red
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="dinghy_cover" value="yes" name="dinghy_cover">
                    With Cover
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Emergency Radios</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="uhf" value="yes" name="uhf">
                    UHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="vhf" value="yes" name="vhf">
                    VHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="elt" value="yes" name="elt">
                    ELT
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Survival</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="standard" value="yes" name="standard">
                    Standard
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="polar" value="yes" name="polar">
                    Polar
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="desert" value="yes" name="desert">
                    Desert
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="maritime" value="yes" name="maritime">
                    Maritime
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="jungle" value="yes" name="jungle">
                    Jungle
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="life_jackets">
                <label class="label">Life Jackets</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="standard" value="yes" name="standard">
                    Standard
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="light" value="yes" name="light">
                    Light
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="fluorescent" value="yes" name="fluorescent">
                    Fluorescent
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="life_uhf" value="yes" name="life_uhf">
                    UHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="life_vhf" value="yes" name="life_vhf">
                    VHF
                  </label>
                </div>
              </div>
            </div>
          </div>

        </section>
        <section class="is-hidden" id="step-4">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Takeoff Mass (kg)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="max_takeoff" name="max_takeoff">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Landing Mass (kg)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="max_landing" name="max_landing">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Ramp Mass (kg)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="max_ramp" name="max_ramp">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Maximum Zero Fuel Mass (kg)</label>
                <div class="control">
                  <input type="text" [(ngModel)]="max_zerofuel" class="input" name="max_zerofuel">
                </div>
              </div>
            </div>
          </div>

        </section>

        <section class="is-hidden" id="step-5">

          <div class="columns is-multiline">

            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Distance Unit</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="distance_unit" value="liter" name="distance_unit">
                    feet
                  </label>
                  <label class="radio">
                    <input type="radio" name="answer" [(ngModel)]="distance_unit" value="US gal" name="distance_unit">
                    meter
                  </label>
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Rotation Speed Vr (kts)</label>
                <div class="control">
                  <input type="text" [(ngModel)]="year" class="input" name="year">

                </div>
              </div>
            </div>
            <div class="column is-12">
              <a class="button is-success" (click)="addTakeOff()">
                Add TakeOff Entry
              </a>
              <table class="table is-bordered is-fullwidth is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>Density Altitude</th>
                    <th>Ground Roll M</th>
                    <th>50ft Obstacle M</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let takeOff of takeOffList; let id = index">
                    <td>
                      <span (keyup)="changeTakeOffValue(id, 'density', $event)"
                        (blur)="updateTakeOffList(id, 'density', $event)"
                        contenteditable="true">{{takeOff.density}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeTakeOffValue(id, 'ground_roll', $event)"
                        (blur)="updateTakeOffList(id, 'ground_roll', $event)">{{takeOff.ground_roll}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeTakeOffValue(id, 'obstacle', $event)"
                        (blur)="updateTakeOffList(id, 'obstacle', $event)">{{takeOff.obstacle}}</span>
                    </td>
                    <td>
                      <button type="button" class="button is-danger" (click)="removeTakeOff(id)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column is-12">
              <a class="button is-success" (click)="addLanding()">
                Add Landing Entry
              </a>
              <table class="table is-bordered is-fullwidth is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>Density Altitude</th>
                    <th>Ground Roll M</th>
                    <th>50ft Obstacle M</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let landing of landingList; let id = index">
                    <td>
                      <span (keyup)="changeLandingValue(id, 'density', $event)"
                        (blur)="updateLandingList(id, 'density', $event)"
                        contenteditable="true">{{landing.density}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeLandingValue(id, 'ground_roll', $event)"
                        (blur)="updateLandingList(id, 'ground_roll', $event)">{{landing.ground_roll}}</span>
                    </td>
                    <td>
                      <span contenteditable="true" (keyup)="changeLandingValue(id, 'obstacle', $event)"
                        (blur)="updateLandingList(id, 'obstacle', $event)">{{landing.obstacle}}</span>
                    </td>
                    <td>
                      <button type="button" class="button is-danger" (click)="removeLanding(id)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column is-12">
              <div class="field">
                <label class="label">Runway Visual Range (RVR, meters)</label>
                <div class="control">
                  <input type="text" [(ngModel)]="rvr" class="input" name="rvr">

                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="is-hidden" id="step-6">
          <!-- <h3 class="title">Live Leg</h3> -->
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="field">
                <label class="label">Default Maximum Flight Level</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="max_flight_level" name="max_flight_level">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Horse Power Per Engine (BHP)</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="bhp" name="bhp">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Fixed Taxi Fuel</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="fixed_taxi_fuel" name="fixed_taxi_fuel">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Variable Taxi Fuel</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="var_taxi_fuel" name="var_taxi_fuel">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">Contingency Fuel</label>
                <div class="control">
                  <input type="text" [(ngModel)]="contingency_fuel" class="input" name="contingency_fuel">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Performance Model</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performance_model" value="yellow" name="performance_model">
                    Fixed Pitch
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performance_model" value="orange" name="performance_model">
                    Constant Speed
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performance_model" value="red" name="performance_model">
                    Turboprop
                  </label>
                  <label class="radio">
                    <input type="radio" [(ngModel)]="performance_model" value="red" name="performance_model">
                    Turbojet
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Emergency Radios</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="uhf" value="yes" name="uhf">
                    UHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="vhf" value="yes" name="vhf">
                    VHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="elt" value="yes" name="elt">
                    ELT
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="distance_unit">
                <label class="label">Survival</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="standard" value="yes" name="standard">
                    Standard
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="polar" value="yes" name="polar">
                    Polar
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="desert" value="yes" name="desert">
                    Desert
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="maritime" value="yes" name="maritime">
                    Maritime
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="jungle" value="yes" name="jungle">
                    Jungle
                  </label>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field" id="life_jackets">
                <label class="label">Life Jackets</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="standard" value="yes" name="standard">
                    Standard
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="light" value="yes" name="light">
                    Light
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="fluorescent" value="yes" name="fluorescent">
                    Fluorescent
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="life_uhf" value="yes" name="life_uhf">
                    UHF
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="life_vhf" value="yes" name="life_vhf">
                    VHF
                  </label>
                </div>
              </div>
            </div>
          </div>

        </section>

        <div class="columns">
          <div class="column is-6">
            <div class="field is-grouped">
              <div class="control" *ngIf="!first">
                <button class="button is-link" (click)="prev()">Previous</button>
              </div>
              <div class="control">
                <button class="button is-link" (click)="next()" *ngIf="!last">Next</button>
                <button class="button is-link" (click)="doRoute()" id="addBtn" *ngIf="last">Submit</button>
              </div>
              <div class="control">
                <button class="button is-text" type="reset" id="reset">Reset</button>
                <button class="button is-text is-hidden" type="button" id="cancel" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>



  </div>
</div>
<app-chat></app-chat>