<app-header></app-header>
<div class="container-fluid page-body-wrapper">
  <app-side-nav></app-side-nav>
  <!-- Main Content -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page_header p_header_two d-flex">
        <h4><strong>Movements</strong></h4>
      </div>

      <div class="block table_block">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="c_l_name">Reference</th>
                <th class="c_l_name">Aircraft</th>
                <th class="c_l_movement">Route</th>
                <th class="c_l_status">Flight Time</th>
                <th class="c_l_action">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movement of movements">
                <td class="c_l_name">
                  <a routerLink="/admin/crew/{{movement._id}}">
                    {{movement.reference_id}}
                  </a>
                </td>
                <td class="c_l_name">
                  {{movement.aircraft}}
                </td>
                <td class="c_l_movement">{{movement.departure_airport}} <i class="flaticon-right-arrow"></i>
                  {{movement.arrival_airport}}</td>
                <td class="c_l_status">{{movement.departuretime*1000 | date : "short"}} --
                  {{movement.arrivaltime*1000 | date : "short"}}</td>
                <td class="c_l_action">
                  <div class="action_btns">
                    <a href="#" class="edit_btn"><i class="fa fa-download"
                        (click)="download(movement.route)"></i><span>Download</span></a>
                    <a href="#" class="delete_btn"
                      *ngIf="movement.filed !== true && next3Days > movement.departuretime*1000 && today < movement.departuretime*1000"><i
                        class="fa fa-file" (click)="fileFPL(movement)"></i><span>File Flight Plan</span></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-chat></app-chat>
