<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <h3 class="title">Add Airport</h3>

      <form>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" name="name" [(ngModel)]="name">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">ICAO Code</label>
              <div class="control">
                <input class="input" type="text" name="icao" [(ngModel)]="icao">
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Longitude</label>
              <div class="control">
                <input class="input" type="text" name="longitude" [(ngModel)]="longitude">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Latitude</label>
              <div class="control">
                <input class="input" type="text" name="latitude" [(ngModel)]="latitude">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Elevation</label>
              <div class="control">
                <input class="input" type="text" name="elevation" [(ngModel)]="elevation">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Longest Runway</label>
              <div class="control">
                <input class="input" type="text" name="longest_runway" [(ngModel)]="longest_runway">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Magnetic Variation</label>
              <div class="control">
                <input class="input" type="text" name="magnetic_variation" [(ngModel)]="magnetic_variation">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Airport Type</label>
              <div class="control">
                <input class="input" type="text" name="airport_type" [(ngModel)]="airport_type">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Beacon</label>
              <div class="control">
                <input class="input" type="text" name="beacon" [(ngModel)]="beacon">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Fuel Types</label>
              <div class="control">
                <input class="input" type="text" name="fuel_types" [(ngModel)]="fuel_types">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Landing Fee</label>
              <div class="control">
                <input class="input" type="text" name="landing_fee" [(ngModel)]="landing_fee">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Oxygen</label>
              <div class="control">
                <input class="input" type="text" name="oxygen" [(ngModel)]="oxygen">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Repairs</label>
              <div class="control">
                <input class="input" type="text" name="repairs" [(ngModel)]="repairs">
              </div>
            </div>
          </div>
          
          <div class="column is-6">
            <div class="field">
              <label class="label">Country</label>
              <div class="control">
                <input class="input" type="text" name="country" [(ngModel)]="country">
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-6">
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" id="addBtn" (click)="addAirport()">Submit</button>
              </div>
              <div class="control">
                <button class="button is-text" type="reset">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-chat></app-chat>