<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <div class="notification is-primary has-text-centered">
        <h4 class="title is-size-5">On Duty</h4>
      </div>
      <div class="columns is-mobile is-multiline">
        <div class="column is-5">
          <span class="header-icon user-profile-image">
            <img src="http://placehold.it/300x225" alt="">
          </span>
        </div>
        <div class="column is-7">

        </div>
        <div class="column is-5">
          <span class="title is-bold is-pulled-left">Mr. John Pilot</span>
          <a href="#" class="button is-primary is-outlined is-pulled-right">Manage Credentials</a>
        </div>
        <div class="column is-7">
          <div class="columns">
            <div class="column is-6">
              <h3 class="title is-size-6">Upcoming Movements</h3>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>

            </div>
            <div class="column is-6">
              <h3 class="title is-size-6">Past Movements</h3>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <div>
              Event:
              <pre>{{ modalData?.event | json }}</pre>
            </div>
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
          </footer>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="activeDayIsOpen = false">
                Previous
              </a>
            </p>
            <p class="control">
              <a class="button is-primary is-outlined" mwlCalendarToday [(viewDate)]="viewDate">
                Today
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="activeDayIsOpen = false">
                Next
              </a>
            </p>
          </div>
        </div>
        <div class="column is-4">
          <h3 class="title has-text-centered">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="column is-4">
          <div class="field has-addons is-pulled-right">
            <p class="control">
              <a class="button is-primary" (click)="view = CalendarView.Month"
                [class.active]="view === CalendarView.Month">
                Month
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" (click)="view = CalendarView.Week"
                [class.active]="view === CalendarView.Week">
                Week
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
                Day
              </a>
            </p>
          </div>
        </div>
      </div>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>

      <button class="button is-link" (click)="logout()">Logout</button>
    </div>
  </div>
</div>