<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="column is-9">
      <div class="notification is-primary has-text-centered">
        <h4 class="title is-size-5">On Duty</h4>
      </div>
      <div class="columns is-mobile is-multiline">
        <div class="column is-5">
          <span class="header-icon user-profile-image">
            <img src="http://placehold.it/300x225" alt="">
          </span>
        </div>
        <div class="column is-7">

        </div>
        <div class="column is-5">
          <span class="title is-bold is-pulled-left">Mr. John Pilot</span>
          <a href="#" class="button is-primary is-outlined is-pulled-right">Manage Credentials</a>
        </div>
        <div class="column is-7">
          <div class="columns">
            <div class="column is-6">
              <h3 class="title is-size-6">Upcoming Movements</h3>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>

            </div>
            <div class="column is-6">
              <h3 class="title is-size-6">Past Movements</h3>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content has-text-centered	">
                      <h5 class="is-marginless">EDDS -> EPPS</h5>
                      <time datetime="2016-1-1">25-03-2015, 07:15z</time>
                    </div>
                  </div>
                </article>
              </div>

            </div>
          </div>
        </div>
      </div>
      <button class="button is-link" (click)="logout()">Logout</button>
    </div>
  </div>
</div>